.choiceBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 30px;
    border: none;
}
.activeChoice{
 
    background-color: orange;
 
}